In [3]:
import csv
import numpy as np
import pandas as pd
import scipy.stats as stats
from matplotlib import pyplot as plt

data = pd.read_csv('DemographischeDaten.csv')
print(data)
data.describe()

   ID  Alter Geschlecht                     Beruf
0  S1     51          w     Steuerfachangestellte
1  S2     34          m                 Umschüler
2  S3     23          w                Student:MI
3  S4     22          m               Student: MI
4  S5     22          m                Student:MI
5  S6     47          w  Ausb.: Industriekauffrau
6  S7     21          w               Student: MI

           Alter
count   7.000000
mean   31.428571
std    12.843379
min    21.000000
25%    22.000000
50%    23.000000
75%    40.500000
max    51.000000

An der Studie nahmen 7 Probanden teil, zwischen 21 und 51 Jahre alt (Durchschnittsalter: 31,4 Jahre, Standardabweichung:12,8 Jahre). Von den 7 Probanden waren 4 weiblich und 3 männlich.